---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 id="loginHeader">Log ind</h1>
  <form>
    <label>
      Brugernavn
      <input type="text" name="username" placeholder="carla / louise / martin" id="input-user" />
    </label>
    <label>
      Adgangskode
      <input type="password" name="password" placeholder="1234" id="input-password" />
    </label>
    <input type="submit" id="loginbtn" value="Log ind" />
    <p id="opretdig">Har du ikke en bruger? <a href="">Opret dig her</a></p>
  </form>
</Layout>

<style>
  body {
    background-color: var(--primary-color);
    background-image: url(/wave.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100vw;
  }
  form {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 50px;
    margin-top: 50px;
    gap: 30px;
    margin-bottom: 200px;
  }
  #loginbtn {
    align-self: center;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    color: white;
    width: 100%;
    border: 1px solid black;
    border: 0;
    max-width: 150px;
  }
  #loginbtn:hover {
    background-color: var(--tertiary-color);
    color: var(--black-color);
    cursor: pointer;
  }
  a {
    /* color: var(--black-color); */
    text-decoration: underline;
  }

  label {
    display: flex;
    flex-direction: column;
    font-family: WorkSans;
    gap: 10px;
  }
  input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
  }
  h1 {
    text-align: center;
    margin-top: 100px;
  }
  #opretdig {
    font-size: 10px;
    text-align: center;
  }
</style>

<script>
  document.querySelector("form")?.addEventListener("submit", login);
  //i want the input to match name and password of a user in the database i have imported. Then the site should redirect to the personal page of that user.

  async function login(event) {
    event.preventDefault(); //forhindrer at formularen sendes til serveren

    const username = document.querySelector("#input-user").value;
    const password = document.querySelector("#input-password").value;

    const response = await fetch("https://psrgynkdjbtmjvkknaxn.supabase.co/rest/v1/eksamen02", {
      headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzcmd5bmtkamJ0bWp2a2tuYXhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUyNjUyNTAsImV4cCI6MjA4MDg0MTI1MH0.H9E4wrsWRfXjxCAiNJyPnjx6OMBcxZOZLQe_9ypkLdk",
      },
    });

    const users = await response.json();

    const user = users.find((u) => u.username === username && u.password === password);

    if (user) {
      window.location.href = `/forbruger/${user.id}`;
    } else {
      alert("Forkert brugernavn eller adgangskode");
    }
  }
</script>
