---
const {pageUrl_2, pageName_2, pageUrl_3, pageName_3} = Astro.props;
---

<nav class="breadcrumbs">
  <a href="/"><span>Forbrugstjekket</span></a>
  <a href={pageUrl_2}><span>{pageName_2}</span></a>
  <a href={pageUrl_3}><span>{pageName_3}</span></a>
</nav>

<style>
  nav {
    padding: var(--main-padding) var(--main-padding) 0;
    background-color: var(--primary-color);
  }

  a:hover span {
    text-decoration: underline;
  }

  .breadcrumbs a + a::before {
    content: ">";
    padding: 0 5px;
    color: var(--black-color);
  }
</style>
