<!-- FOOTER DESKTOP -->
<section class="footer-section-desktop">
  <article class="footer-article-desktop">
    <p class="p-bold">Forbrugstjekket</p>
    <a class="footer-link" href="">Om Forbrugstjekket</a>
    <a class="footer-link" href="">Om Green Pass</a>
    <a class="footer-link" href="">Guide: Bæredygtig forbrug</a>
  </article>
  <article class="footer-article-desktop">
    <p class="p-bold">Dankort</p>
    <a class="footer-link" href="">Om Dankort</a>
    <a class="footer-link" href="">Øremærket</a>
    <a class="footer-link" href="">Presse</a>
    <a class="footer-link" href="">Logo og billeder</a>
  </article>
  <article class="footer-article-desktop">
    <p class="p-bold">Support</p>
    <a class="footer-link" href="">Kontakt salg</a>
    <a class="footer-link" href="">Kontakt kundeservice</a>
    <a class="footer-link" href="">Support erhverv</a>
    <a class="footer-link" href="">Support privat</a>
  </article>
  <article class="footer-article-desktop">
    <p class="p-bold">Politikker</p>
    <a class="footer-link" href="">Privatlivspolitikker</a>
    <a class="footer-link" href="">Cookies</a>
    <a class="footer-link" href="">AEE regulativ</a>
  </article>
  <div class="footer-logo">
    <img src="/logo_black.webp" alt="sort Dankort logo" />
  </div>
</section>

<!-- FOOTER MOBILE -->
<section class="footer-section-mobile">
  <article class="link-section">
    <details class="footer-article">
      <summary class="p-bold footer-headline">Forbrugstjekket</summary>
      <div class="footer-links">
        <a class="footer-link" href="">Om Forbrugstjekket</a>
        <a class="footer-link" href="">Om Green Pass</a>
        <a class="footer-link" href="">Guide: Bæredygtig forbrug</a>
      </div>
    </details>
    <details class="footer-article">
      <summary class="p-bold footer-headline">Dankort</summary>
      <div class="footer-links">
        <a class="footer-link" href="">Om Dankort</a>
        <a class="footer-link" href="">Øremærket</a>
        <a class="footer-link" href="">Presse</a>
        <a class="footer-link" href="">Logo og billeder</a>
      </div>
    </details>
    <details class="footer-article">
      <summary class="p-bold footer-headline">Support</summary>
      <div class="footer-links">
        <a class="footer-link" href="">Kontakt salg</a>
        <a class="footer-link" href="">Kontakt kundeservice</a>
        <a class="footer-link" href="">Support erhverv</a>
        <a class="footer-link" href="">Support privat</a>
      </div>
    </details>
    <details class="footer-article">
      <summary class="p-bold footer-headline">Politikker</summary>
      <div class="footer-links">
        <a class="footer-link" href="">Privatlivspolitikker</a>
        <a class="footer-link" href="">Cookies</a>
        <a class="footer-link" href="">AEE regulativ</a>
      </div>
    </details>
  </article>
  <div class="footer-logo">
    <img src="/logo_black.webp" alt="sort Dankort logo" />
  </div>
</section>

<style>
  .footer-section-desktop {
    display: flex;
    flex-direction: row;
    padding: 80px;
    background-color: var(--white-color);
    justify-content: space-between;
  }
  .footer-article-desktop {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer-section-mobile {
    display: flex;
    flex-direction: row;
    padding: 80px;
    background-color: var(--white-color);
    justify-content: center;
  }
  .link-section {
    margin-top: 100px;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  .footer-article {
    margin-bottom: 20px;
    width: 250px;
  }
  .footer-headline {
    border-bottom: 2px solid var(--black-color);
  }
  .footer-headline:hover {
    cursor: pointer;
  }
  .footer-link:hover {
    text-decoration: underline;
  }
  img {
    max-width: 80px;
  }
  a {
    font-family: "WorkSans";
    color: var(--black-color);
  }
  @media (width<1000px) {
    .footer-section-desktop {
      visibility: hidden;
      display: none;
    }
  }
  @media (width>=1000px) {
    .footer-section-mobile {
      visibility: hidden;
      display: none;
    }
  }
</style>
