<section class="recap-section">
  <h2>Dit 2025 forbrugs-recap</h2>
  <section class="recap-cards-section">
    <img
      class="phone-frame"
      src="iphonerecap.png"
      alt="en iphone som ramme for et forbrugsrecap"
    />
    <div>
      <img class="card-1" src="" alt="" />
      <img class="card-2" src="" alt="" />
      <img class="card-3" src="" alt="" />
      <img class="card-4" src="" alt="" />
      <img class="card-5" src="" alt="" />
      <img class="card-6" src="" alt="" />
      <img class="card-7" src="" alt="" />
      <img class="card-8" src="" alt="" />
    </div>
  </section>
</section>

<style>
  .recap-section {
    text-align: center;
    margin: 5em;
  }

  .recap-cards-section {
    margin-top: 3em;
  }
</style>
