<section class="green-section">
  <section class="grey-section">
    <div class="title-qr-code-and-saldo">
      <h3>MIT</h3>
      <h1>GREEN PASS</h1>
      <img class="qr-code" src="qr_code.png" alt="en QR kode" />
      <div class="point-saldo-and-illustration">
        <h3>Pointsaldo:</h3>
        <h3 class="point-saldo"></h3>
      </div>
      <img class="green-graph" src="" alt="en illustration af pointsaldo" />
    </div>
    <div class="sewing-machine-and-buttons">
      <img class="sewing-machine" src="sewing-machine.png" alt="et billede af en symaskine" />
      <button class="cta-black">LÆS MERE</button>
      <button class="cta-black">DONÉR DINE POINT</button>
    </div>
  </section>
</section>

<style>
  .green-section {
    background-color: var(--secondary-color);
    padding: 3em;
  }

  .grey-section {
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    padding: 3em;
  }

  .title-qr-code-and-saldo {
    text-align: center;
  }

  .sewing-machine-and-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  button {
    margin: auto;
  }

  h1 {
    color: var(--secondary-color);
  }
</style>
