<h1>Forbrugs&shytjekket</h1>
<section class="hero-container">
  <section class="hero-content">
    <article>
      <h2>Få indblik i dit forbrug</h2>
      <p>
        Dankort giver dig med Forbrugstjekket mulighed for, at få et overblik over dit forbrug og
        din miljøpåvirkning lorem ipsum dolor sit amet. Ut voluptatibus dolorem sit quia maxime eos
        voluptatem accusantium qui quod necessitatibus sit earum maiores ut amet consequuntur aut
        quod aspernatur.
      </p>
    </article>
    <img src="/dankorthand.png" alt="En hånd holder et Dankort" width="100%" />
  </section>
</section>

<style>
  h1 {
    text-align: center;
    background-color: var(--primary-color);
    padding-top: var(--top-padding);
    color: var(--black-color);
  }

  h2,
  p {
    color: var(--white-color);
  }

  h2 {
    padding-bottom: calc(var(--top-padding) * 2);
  }

  .hero-container {
    background-color: var(--primary-color);
    background-image: url(/wave.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: var(--main-padding) var(--main-padding);
    height: 750px;
  }

  .hero-content {
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: var(--main-padding);
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
  }

  article {
    max-width: 480px;
  }

  img {
    max-width: 500px;
    height: auto;
    display: block;
    margin-left: var(--main-padding);
  }

  @media (max-width: 1330px) {
    .hero-container {
      padding: var(--main-padding) 0;
    }

    .hero-content {
      border-radius: 0;
      gap: calc(var(--article-gap) / 2);
      padding: var(--main-padding) calc(var(--main-padding) / 2);
    }

    img {
      margin-left: 0;
    }
  }

  @media (max-width: 450px) {
    .hero-content {
      position: relative;
    }

    img {
      order: -1;
      transform: translateX(-25%);
    }
  }
</style>
