<h1>Forbrugs&shy;tjekket</h1>
<section class="hero-container">
  <section class="hero-content">
    <article>
      <h2>Få indblik i dit forbrug</h2>
      <p>
        Dankort giver dig med Forbrugstjekket mulighed for, at få et overblik over dit forbrug og
        din miljøpåvirkning. Log ind på din perosnlige side, og sammenlign dit nuværende forbrug med
        sidste års forbrug, se dine Green Pass point til brug i reparationscaféer, eller se dit
        forbrugsrecap for 2025.
      </p>
      <p class="second-p-hero">
        På siden her finder du også artikelserien "Mærkningsguide", som hjælper dig til at forstå
        mærkninger som Oeko-Tex, Svanemærket, og mange flere. Du kan også læse om Dankorts uvildige
        eksterne undersøgelse af vores egen bæredygtighedsindsats.
      </p>
    </article>
    <img src="/dankorthand.png" alt="En hånd holder et Dankort" width="100%" />
  </section>
</section>

<style>
  h1 {
    text-align: center;
    background-color: var(--primary-color);
    padding-top: var(--top-padding);
    color: var(--black-color);
  }

  h2,
  p {
    color: var(--white-color);
  }

  .second-p-hero {
    margin-top: 2em;
  }

  h2 {
    padding-bottom: calc(var(--top-padding) * 2);
  }

  .hero-container {
    background-color: var(--primary-color);
    background-image: url(/wave.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: var(--main-padding) var(--main-padding);
    height: 750px;
  }

  .hero-content {
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: var(--main-padding);
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
  }

  article {
    max-width: 480px;
  }

  img {
    max-width: 500px;
    height: auto;
    display: block;
    margin-left: var(--main-padding);
  }

  @media (max-width: 1330px) {
    .hero-container {
      padding: var(--main-padding) 0;
    }

    .hero-content {
      border-radius: 0;
      gap: calc(var(--article-gap) / 2);
      padding: var(--main-padding) calc(var(--main-padding) / 2);
    }

    img {
      margin-left: 0;
    }
  }

  @media (max-width: 450px) {
    .hero-content {
      position: relative;
    }

    img {
      order: -1;
      transform: translateX(-25%);
    }
  }
</style>
