---
import Breadcrumbs from "./Breadcrumbs.astro";
---

<Breadcrumbs pageUrl_2="/oekotex" pageName_2="Mærkningsguide" pageUrl_3="/oekotex" pageName_3="OEKO-TEX" />
<section>
  <article class="article-container">
    <article class="headline-section">
      <div class="headlines">
        <div class="upper-headlines">
          <h3>Din guide til bæredygtigt forbrug</h3>
          <h1>FORSTÅ MÆRKNINGEN: OEKO-TEX&reg;</h1>
        </div>
        <p>Af klimajournalist Line Jørgensen</p>
      </div>
    </article>
    <article class="article-section">
      <div class="article-paragraph">
        <h4>OEKO-TEX&reg; - Den misforståede mærkning</h4>
        <p>
          OEKO-TEX&reg; er et mærke, som mange af os støder på, når vi køber tøj og tekstiler til hjemmet. I butikkerne bliver det ofte præsenteret som et miljømærke - nok fordi ordet "OEKO" leder tankerne over på en produktion, der tager hensyn til
          miljøet. Men virkeligheden er noget mere nuanceret.
        </p>
        <p>Selvom OEKO-TEX&reg; uden tvivl har sin værdi, handler certificering ikke om miljøhensyn i traditionel forstand. Den handler om kemisk sikkerhed i det færdige produkt. Og kun det.</p>
        <p>Det betyder, at OEKO-TEX&reg; kan være en hjælp til at undgå skadelige stoffer, men det siger ikke noget om, hvor miljøvenligt eller ansvarligt produktet er fremstillet.</p>
      </div>
      <div class="article-paragraph">
        <h4>Hvad tester mærket for?</h4>
        <p>
          OEKO-TEX&reg; Standard 100 tester tekstiler for skadelige kemikalier i det endelige materiale, f.eks. tungmetaller, formaldehyd eller allergifremkaldende farvestoffer. Det er godt - især for forbrugere, der vil være sikre på, at det
          produkt, de tager på huden, er fri for kendte, skadelige stoffer.
        </p>
        <p>
          Som forbruger bør du dog være opmærksom på, at mærket har forskellige grænseværdier afhængigt af produkttypen. Det indebærer altså, at OEKO-TEX&reg;-mærkningen ikke betyder det samme fra produkt til produkt. F.eks. har babyprodukter
          skrappere krav end tøj til voksne, hvilket gør det mere vanskeligt, at gennemskue hvad mærket betyder for det enkelte produkt.
        </p>
      </div>
      <div class="article-paragraph">
        <h4>Ingen garanti for bæredygtighed</h4>
        <p>
          Selvom OEKO-TEX&reg; kan hjælpe dig med at styre udenom mange skadelige kemikalier i det færdige produkt, stiller mærket ingen krav til kemikaliebruget under selve produktionen. Det betyder, at produktionen stadig kan udlede forurenende
          kemikalier og udsætte arbejdere for sundhedsskadelige stoffer.
        </p>
        <p>Mærket forholder sig heller ikke til en lang række andre forhold, som de fleste miljøbevidste forbrugere forbinder med en grøn profil:</p>
        <ul>
          <li>CO₂-aftryk</li>
          <li>Vandforbrug</li>
          <li>Mikroplastforurening</li>
          <li>Dyrkningsmetoder</li>
          <li>Genanvendelse og cirkularitet</li>
          <li>Etiske arbejdsforhold</li>
        </ul>
      </div>

      <img src="/oekotexsquare.webp" alt="oeko tex" />

      <div class="article-paragraph">
        <h4>Problemer med transparens</h4>
        <p>Mange brands skriver “OEKO-TEX&reg; certificeret” uden helt at præcisere, hvad det betyder. Det kan nemlig dække over flere ting:</p>
        <ul>
          <li>Det kan være, at kun selve stoffet er testet</li>
          <li>Farver, knapper, lynlåse, mærkater og tråde kan være ucertificerede</li>
          <li>Nogle gange er kun én version af stoffet certificeret - ikke nødvendigvis den, der ender i det færdige produkt</li>
        </ul>
        <p>
          Det her skaber forståeligt nok forvirring, og gør det svært at gennemskue, hvor sikker man egentlig kan føle sig på, at produktet lever op til de standarder, det skilter med. Hvis du er usikker, kan det være en god idé, at række ud til
          brandet for at få mere information.
        </p>
      </div>
      <div class="article-paragraph">
        <h4>Hvad er OEKO-TEX&reg; godt for?</h4>
        <p>OEKO-TEX&reg; er et nyttigt værktøj, hvis man vil undgå skadelige kemikalier i de produkter, man bruger direkte på kroppen. Det giver en ekstra grad af sikkerhed i en branche, hvor kemikalier ofte er svære at gennemskue.</p>
        <p>
          Men det er også vigtigt at vide, hvad mærket ikke siger noget om. Mange forbrugere tror, OEKO-TEX&reg; er et tegn på økologi eller bæredygtighed - men det er det ikke. Det er en kemisk sikkerhedstest. Ikke en vurdering af produktets
          miljøaftryk eller sociale ansvarlighed.
        </p>
        <p>Hvis du går efter bæredygtighed, miljøhensyn eller etisk produktion, skal du kigge efter andre certificeringer sammen med OEKO-TEX&reg;, ikke i stedet for. OEKO-TEX&reg; kan være en brik i puslespillet, men ikke det endelige svar.</p>
      </div>
    </article>
    <article class="article-note">
      <h4>
        Denne artikel er en del af vores Mærknings&shy;guide, hvor uvildige eksperter gør det komplekse enkelt. Her får du forklaringer på de mærkninger, du møder i hverdagen, så du trygt kan navigere i junglen af mærknings&shy;ordninger og træffe
        mere bæredygtige valg.
      </h4>
      <a class="cta-grey" href="oekotex">Se alle artikler</a>
    </article>
  </article>
</section>

<style>
  section {
    background-color: var(--primary-color);
    padding: var(--main-padding);
  }

  .headlines {
    display: flex;
    flex-direction: column;
  }

  .upper-headlines {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  img {
    max-width: 500px;
    justify-self: center;
    align-self: center;
  }

  li {
    padding-top: 20px;
  }

  .article-container {
    background-color: var(--white-color);
    max-width: 1300px;
    margin: 0 auto;
    border-radius: 20px;
    padding: var(--main-padding);
    margin-bottom: 100px;
  }

  .article-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }

  .article-section > *:nth-child(1),
  .article-section > *:nth-child(2),
  .article-section > *:nth-child(5) {
    justify-self: start;
  }

  .article-section > *:nth-child(3),
  .article-section > *:nth-child(4),
  .article-section > *:nth-child(6) {
    justify-self: end;
  }

  .article-section > *:nth-child(6) {
    padding-bottom: calc(var(--main-padding) * 2);
  }
  .article-paragraph {
    max-width: 550px;
  }

  p {
    padding-top: var(--top-padding);
  }

  h4,
  img {
    padding: calc(var(--top-padding) * 2) 0 calc(var(--top-padding) / 2);
  }

  li {
    font-family: "WorkSans";
    margin-left: 30px;
    line-height: 25px;
  }

  .cta-black {
    display: flex;
    margin: 0 auto;
    max-width: 200px;
    justify-content: center;
  }

  img {
    grid-column: 2;
    grid-row: 1;
    padding-top: 0;
  }

  .article-note {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: var(--secondary-color);
    padding: var(--top-padding) var(--main-padding);
    border-radius: var(--border-radius);
  }

  .article-note h4 {
    font-family: "WorkSans";
    font-size: 18px;
    text-transform: none;
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
    padding: var(--top-padding) 0;
    color: var(--white-color);
  }

  .cta-grey {
    margin: var(--top-padding) 0;
    align-self: center;
  }

  @media (max-width: 1330px) {
    section {
      padding: var(--main-padding) 0;
    }

    .article-section {
      justify-content: center;
    }

    .article-container {
      padding: var(--main-padding);
      border-radius: 0;
    }

    .headline-section {
      padding: 0;
    }

    .article-note {
      display: flex;
      flex-direction: column;

      justify-content: center;
      gap: 20px;
      padding: var(--top-padding) var(--main-padding);
    }
    .cta-black {
      display: flex;
      margin: 0 auto;
      max-width: 200px;
      justify-content: center;
    }
  }

  @media (max-width: 1260px) {
    .article-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }

    .headline-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
    }

    h1 {
      font-size: 50px;
    }

    .article-section img {
      order: -1;
      max-width: 500px;
      padding: calc(var(--top-padding) * 2) 0 0;
    }

    h4 {
      padding: var(--top-padding) 0 calc(var(--top-padding) / 2);
    }

    img {
      padding: calc(var(--top-padding) / 2) 0;
    }
  }
</style>
