<section>
  <article class="headline-section">
    <div class="headlines">
      <div class="upper-headlines">
        <h3>EKSTERN UVILDIG UNDERSØGELSE</h3>
        <h2>RAPPORT: DANKORTS BÆREDYGTIGHED GRANSKES AF CLIMATEKIND</h2>
      </div>
      <p>Af klimajournalist Line Jørgensen</p>
    </div>
  </article>
  <article class="article-container">
    <article class="article-section">
      <div class="article-column" id="column1">
        <div class="article-paragraph">
          <h4>Dankort’s bæredygtighed: “vi skal også bidrage”</h4>
          <p>
            Som en af Danmarks mest brugte betalingsløsninger er Dankort en integreret del af mange danskeres hverdag. Vi anerkender, at den øgede fokus på bæredygtighed også gælder for finansielle tjenester, og derfor har vi besluttet at dele
            resultaterne af en uvildig undersøgelse foretaget af klimaorganisationen ClimateKind. Formålet er at skabe en åben og ærlig dialog om Dankorts tilgang til bæredygtig fremtid – og hvor der er plads til forbedring.
          </p>
        </div>
        <div class="article-paragraph">
          <h4>Gode initiativer allerede i gang</h4>
          <p>Undersøgelsen peger på flere positive tiltag, som Dankort allerede har implementeret for at mindske vores miljøpåvirkning:</p>
          <ul>
            <li>Digitalisering og effektivitet: Dankort er en digital betalingsløsning, som minimere behovet for fysisk kontanttransport, opbevaring og produktion af plastkort. Det betyder færre ressourcer brugt på produktion og materialer.</li>
            <li>Energirenovering af infrastruktur: Systemet bag Dankort er løbende blevet opgraderet, hvilket har ført til mere energieffektive servere og datacentre. Dette er med til at reducere den samlede CO₂-udledning fra betalingssystemet.</li>
            <li>Samarbejde med grønne partnere: Dankort arbejder aktivt sammen med eksterne partnere og finansielle institutioner, der prioriterer bæredygtighed, og har til formål at skabe mere grønne muligheder for forbrugere og erhvervsliv.</li>
          </ul>
        </div>
        <div class="article-paragraph">
          <h4>Hvor kan der gøres mere?</h4>
          <p>Selvom der er positive tiltag i værk, konkluderer undersøgelsen også, at der stadig er områder, hvor Dankort kan styrke sit fokus på bæredygtighed:</p>
          <ul>
            <li>Reducering af energiforbrug yderligere: Selvom systemet er blevet mere energieffektivt, kan der fortsat implementeres flere innovative løsninger for at mindske energiforbruget, især i drift og vedligeholdelse af datacentrene.</li>
          </ul>
        </div>
      </div>
      <div class="article-column">
        <img src="../../public/nature.png" alt="oeko tex" width="100%" />
        <div class="article-paragraph">
          <ul>
            <li>Miljøvenlig produktion af kort: Ansvaret for det fysiske Dankort bør i højere grad adresseres gennem brug af mere bæredygtige materialer eller genbrugsmaterialer, hvor det er muligt.</li>
            <li>Fremtidig cirkulær økonomi: Der er potentiale for at udvikle systemer, hvor gamle eller defekte kort kan genbruges eller genanvendes, hvilket vil mindske affald og ressourceforbrug.</li>
            <li>
              Øget oplysning og transparens: Endelig kan Dankort arbejde på at informere endnu mere om vores bæredygtighedsinitiativer, så forbrugere og samarbejdspartnere kan følge med i udviklingen og bidrage aktivt til den grønne omstilling.
            </li>
          </ul>
        </div>
        <div class="article-paragraph">
          <h4>Ser frem mod en mere bæredygtig fremtid</h4>
          <p>
            Vi i Dankort er forpligtet til løbende at forbedre vores bæredygtighedsprofil. Ved at samarbejde med eksperter, følge nye teknologiske muligheder og lytte til vores interessenter, er målet at skabe en endnu mere bæredygtig
            betalingsløsning – uden at gå på kompromis med tryghed og funktionalitet.
          </p>
          <p>
            Vi håber, denne rapport giver et tydeligt billede af, hvor vi står i dag – og vores ambitioner for fremtiden. Bæredygtighed er en proces, vi tager alvorligt, og vi ser det som et fælles ansvar at bidrage til en mere grøn fremtid for
            Danmark og verden.
          </p>
        </div>
      </div>
    </article>
    <article class="article-note">
      <a class="cta-black" href="/">Se alle artikler</a>
    </article>
  </article>
</section>

<style>
  :root {
    background-color: var(--primary-color);
  }
  .article-container {
    background-color: var(--white-color);
    max-width: 1300px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 50px;
    padding-top: 100px;
    margin-bottom: 100px;
  }
  .headline-section {
    margin: 50px;
  }
  .headlines {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .upper-headlines {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .article-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
  }
  .article-column {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .article-paragraph {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  li {
    font-family: "WorkSans";
    margin-left: 30px;
    line-height: 25px;
  }
  #column1 {
    padding-top: 140px;
  }
  .article-note {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    padding: 50px;
    gap: 20px;
  }
  .cta-black {
    display: flex;
    margin: 0 auto;
    max-width: 200px;
    justify-content: center;
  }
  @media (width<1200px) {
    .article-note {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      justify-content: center;
      gap: 20px;
      padding: 50px 0;
    }
    .cta-black {
      display: flex;
      margin: 0 auto;
      max-width: 200px;
      justify-content: center;
    }
    #column1 {
      padding-top: 0;
    }
  }
</style>
