<section class="login-green-more-info-section">
  <img class="dankort-hand" src="/index-hero.webp" alt="" />
  <section class="green-section-info-texts">
    <div class="text-and-arrow">
      <div>
        <p class="p-bold">Forbruger du mere eller mindre end dine venner?</p>
        <p class="under-title">Tjek, om du forbruger mere end andre.</p>
      </div>
      <img class="arrow-icon" src="/iconarrow.png" alt="" />
    </div>
    <div class="text-and-arrow">
      <div>
        <p class="p-bold">Hold øje med dit forbrug hos Forbrugstjekkeren</p>
        <p class="under-title">
          Kontrollér dit faktiske og forventede forbrug.
        </p>
      </div>
      <img class="arrow-icon" src="/iconarrow.png" alt="" />
    </div>
  </section>
</section>

<style>
  .login-green-more-info-section {
    background-color: var(--secondary-color);
    display: flex;
    flex: 110;
    justify-content: space-evenly;
    color: var(--white-color);
  }

  .green-section-info-texts {
    margin: auto;
  }
  .dankort-hand {
    margin: auto;
  }

  .text-and-arrow {
    display: flex;
    margin-top: 2em;
  }

  .p-bold {
    font-size: var(--p-font-size);
  }
</style>
