<section>
  <img class="dankort-hand" src="/index-hero.webp" alt="" />
  <section>
    <div>
      <div>
        <p class="bold-title"></p>
        <p class="under-title"></p>
      </div>
      <img class="arrow-icon" src="/iconarrow.png" alt="" />
    </div>
    <div>
      <div>
        <p class="bold-title"></p>
        <p class="under-title"></p>
      </div>
      <img class="arrow-icon" src="/iconarrow.png" alt="" />
    </div>
  </section>
</section>
