---

---

<section class="teaser-content">
  <img src="/nature.png" alt="Et træ omgivet af vild natur" />
  <article>
    <h2>Rapport: Dankorts egen bære&shydygtighed</h2>
    <p>
      Som en af Danmarks mest brugte betalingsløsninger er Dankort en integreret del af mange danskeres hverdag. Vi anerkender, at den øgede fokus på bæredygtighed også gælder for finansielle tjenester, og derfor har vi besluttet at dele resultaterne
      af en uvildig undersøgelse foretaget af klimaorganisationen ClimateKind. Formålet er at skabe en åben og ærlig dialog om Dankorts tilgang til bæredygtig fremtid – og hvor der er plads til forbedring.
    </p>
    <a class="cta-black" href="/">Læs artikel</a>
  </article>
</section>

<style>
  h2,
  p {
    color: var(--black-color);
    padding-bottom: calc(var(--top-padding) * 2);
  }

  .teaser-content {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--section-gap);
    padding: var(--main-padding);
    align-items: center;
    justify-content: center;
  }

  img {
    display: block;
    max-width: 480px;
    height: 100%;
    margin-right: var(--main-padding);
  }
  article {
    display: flex;
    flex-direction: column;
    max-width: 480px;
  }

  a {
    align-self: flex-start;
    display: inline-block;
    width: auto;
  }

  @media (max-width: 1213px) {
    .teaser-content {
      gap: calc(var(--article-gap) / 2);
      padding: var(--main-padding) calc(var(--main-padding) / 2);
    }
  }

  @media (max-width: 995px) {
    .teaser-content {
      flex-direction: column;
    }
    img {
      order: 1;
      padding-top: calc(var(--top-padding) * 2);
      margin-right: 0;
    }
  }

  @media (max-width: 450px) {
    .hero-content {
      position: relative;
      margin-right: 0;
    }

    img {
      max-width: 100%;
    }

    a {
      align-self: center;
    }
  }
</style>
