---

---

<section class="teaser-content">
  <h2>Tjek dit forbrug</h2>
  <h3>&#8211; med Forbrugstjekket</h3>
</section>
<section class="images">
  <img src="/basketgraphic.png" alt="Indkøbskurv og varer" />
  <!-- <img src="/money.png" alt="En stak med kontanter" />
  <img src="/dessert.png" alt="Et glas med dessert i" />
  <img src="/coffee.png" alt="En kop kaffe med skum på toppen" />
  <img src="/basket.png" alt="En handlekurv" />
  <img src="/ticket.png" alt="En biografbillet" />
  <img src="/shirt.png" alt="En skjorte med flammemønster" /> -->
</section>
<a class="cta-black" href="/login/">Log ind</a>

<style>
  .images {
    margin: 0 auto;
    max-width: 1000px;
    img {
      width: 100%;
    }
  }

  h2,
  h3 {
    color: var(--black-color);
  }

  .teaser-content {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: var(--main-padding);
    max-width: 600px;
    margin: 0 auto;
    h3 {
      align-self: flex-end;
    }
  }

  .cta-black {
    display: block;
    max-width: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  @media (max-width: 1213px) {
    .teaser-content {
      gap: calc(var(--article-gap) / 2);
      padding: var(--main-padding) calc(var(--main-padding) / 2);
    }
  }

  @media (max-width: 995px) {
    .teaser-content {
      flex-direction: column;
    }
    img {
      padding-top: calc(var(--top-padding) * 2);
      margin-right: 0;
    }
  }

  @media (max-width: 450px) {
    .hero-content {
      position: relative;
      margin-right: 0;
    }

    img {
      max-width: 100%;
    }

    a {
      align-self: center;
    }
  }
</style>
