<section>
  <div class="top-section">
    <div class="welcome">
      <h2>Velkommen,</h2>
      <h3 class="welcome-name"></h3>
    </div>
    <a class="cta-black" href="/">se dit green pass</a>
  </div>

  <div class="welcome-intro">
    <h5 class="login-quote"></h5>
    <p class="login-text"></p>
  </div>

  <section class="graph-section">
    <div class="title-and-graph">
      <p>forbrugspost</p>
      <p>FØDEVARER</p>
      <img src="" alt="" />
    </div>
    <div class="title-and-graph">
      <p>forbrugspost</p>
      <p>TØJ, SKO & ACCESSORIES</p>
      <img src="" alt="" />
    </div>
    <div class="title-and-graph">
      <p>forbrugspost</p>
      <p>MEST BESØGTE BUTIKKER</p>
      <img src="" alt="" />
    </div>
  </section>
  <div class="info-text">
    <p>
      Infografikken ovenover er med til at give et overblik over forbrug,
      visualiseret på forskellige poster og butikker. Du kan sammenligne dit
      forbrug med samme måned sidste år, og få et indblik i dine største
      forbrugsposter.
    </p>
  </div>
</section>

<style>
  .top-section {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
  }

  .graph-section {
    background-color: var(--tertiary-color);
    margin: 5em;
    padding: 1em 5em;
    display: flex;
    justify-content: space-between;
    flex: 110;
  }

  .info-text {
    max-width: 800px;
    margin: 5em;
  }
</style>
